.user-widget
  &__row
    &:hover
      background-color #fafafa

    &_inactive
      & ^[0]__cell
        &-title
          color #999

      & .briskhome-avatar__name
        color #999

  &__cell
    vertical-align middle

    &:nth-child(1)
      width 60px

      .briskhome-avatar
        margin 8px

    &:nth-child(2)
      width 100%
      padding-left 4px

    &:nth-child(3)
      width 30px

      .briskhome-menu
        margin-right 10px

        &__trigger
          vertical-align middle

    &-title
      display block
      margin-bottom 4px

    &-subtitle
      display block
      color #999
      font-weight 300
      font-size 14px

  &__modal
    &-title
      display block
      margin-right -20px
      margin-left -20px
      padding 8px 16px
      border-top 1px dashed #efefef
      border-bottom 1px dashed #efefef
      background-color #fafafa
      color #999
      text-align left
      text-transform uppercase
      letter-spacing 1px
      font-weight 500
      font-size 14px !important

    &-caption
      margin-bottom 16px
      text-align left
      font-weight 300

    &-header
      margin-bottom 32px

    &-icon
      float left
      width 64px !important
      height 64px !important
      margin -16px 16px 8px 0

    &-input
      display inline-block !important
      width calc(50% - 8px)

      & + &
        margin-left 16px

    &-form
      font-size 14px

    &-hr
      margin 16px 0
      border 1px solid #efefef

    &-controls
      margin-top 16px
      text-align right

    &-subtitle
      margin-top 16px
      margin-bottom 8px

.link
  text-decoration none

  &_red
    color #CF4B5D !important

.widget-table
  width 100%

  .profile-image
    display inline-block
    overflow hidden
    width 42px
    height 42px
    border 1px solid #b9b9b9
    border-radius 50px
    background-color #F9D21C
    vertical-align middle
    a
    text-align center
    font-size x-large
    line-height 185%

  .profile-status
    width 4px
    height 4px

  &__row
    height 48px

    // &+&
    // border-top 1px solid #eaeaea
    &:hover
      overflow hidden
      background-color #fafafa

  &__cell
    vertical-align middle

    &_first
      width 60px

      .briskhome-avatar
        margin 8px

    &_middle
      // padding 4px 0
      // width 50%

    &_last
      text-align right

    &-title
      // font-size 16px
      margin-bottom 4px

    &-subtitle
      color gray
      font-size 14px

    &-action
      display inline-block
      margin-right 4px
      margin-bottom 2px
      margin-left 8px
      padding 3px
      border solid #b9b9b9
      border-width 0 2px 2px 0
      cursor pointer
      transform rotate(45deg)
