.briskhome-welcome
  position fixed
  width 360px
  z-index 2
  margin-top 50px
  left calc(50% - 200px)
  background-color #fff
  padding 20px
  border 1px solid #efefef
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.05)
  border-radius 4px
  text-align center

  &__image
    margin-bottom 20px
    height 128px
    width 128px

  &__text
    line-height 140%
    margin-bottom 20px
    font-weight 300

    & + &
      margin-top -12px