.briskhome-welcome
  position fixed
  left calc(50% - 200px)
  z-index 2
  width 360px
  margin-top 50px
  padding 20px
  border 1px solid #efefef
  border-radius 4px
  background-color #fff
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.05)
  text-align center

  &__image
    width 128px
    height 128px
    margin-bottom 20px

  &__text
    margin-bottom 20px
    font-weight 300
    line-height 140%

    & + &
      margin-top -12px