{
  "presets": ["flow", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-inline-imports-commonjs",
    "transform-object-rest-spread",
    ["module-resolver", { "root": ["./src"] }]
  ],
  "ignore": [
      "./**/**/__mocks__"
  ]
}