{
  "extends": "airbnb-base",
  "ecmaFeatures": {
    "modules": false
    },
  "env": {
    "es6": true
    },
  "rules": {
    "consistent-return": ["warn"],
    "handle-callback-err": ["error"],
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-use-before-define": ["error", { "functions": false }],
    "radix": ["warn", "as-needed"],
    "strict": ["off"]
    },
}
