.briskhome-button
  position relative
  display inline-block
  box-sizing border-box
  height 40px
  padding 12px 16px
  border-radius 4px
  text-align center
  text-decoration none
  font-weight 500
  font-size 16px
  transition background-color 0.25s ease

  &_grey
    background-color #efefef
    color #333

  &_yellow
    background-color #F9D21C
    color white

    &:hover
      background-color #F9D21C + 25%

    &:active
      background-color #F9D21C - 10%

  &_caps
    text-transform uppercase

  &_inline
    display inline

  &_inline-block
    display inline-block

    &+&
      margin-left 20px

  &_block
    display block
