.briskhome-button
  position relative
  display inline-block
  box-sizing border-box
  border-radius 8px
  text-align center
  text-decoration none
  padding 12px 20px 11px
  margin 20px auto
  height 40px
  
  transition background-color 0.25s ease

  &_yellow
    background-color #F9D21C
    border 1px solid #eaeaea
    color white
    
    &:hover
      background-color #F9D21C + 25%
      
    &:active
      background-color #F9D21C
