.onboarding
  overflow hidden
  width 750px
  height 400px
  margin 0 auto
  border-radius 16px
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)

  &__content
    width 100%
    height 100%

    &_left,
    &_right
      display inline-block
      box-sizing border-box
      width 50%
      height 100%
      padding 20px
      text-align center

    &_left
      float left
      background #EFEFEF

    &_right
      float right
      background white

  &-title
    &_medium
      margin-top 40px
      margin-bottom 40px

  &-paragraph
    color #b9b9b9
    font-weight 300
    line-height 150%

  &-dropdown.briskhome-dropdown-root
    margin-bottom 35px

  &-input
    margin-bottom 10px

.briskhome-form
  width 300px
  margin 0 auto