.onboarding
  width 750px
  height 400px
  margin 0 auto
  border-radius 16px
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow hidden
  
  &__content
    height 100%
    width 100%

    &_left,
    &_right
      display inline-block
      width 50%
      height 100%
      padding 20px
      text-align center
      box-sizing border-box
      
    &_left
      background #EFEFEF
      float left
      
    &_right
      background white
      float right
    
  &-title
    &_medium
      margin-top 40px
      margin-bottom 40px

  &-paragraph
    line-height 150%
    color #b9b9b9
    font-weight 300
      
  &-dropdown.briskhome-dropdown-root
    margin-bottom 35px
    
  &-input
    margin-bottom 10px
      
.briskhome-form
  margin 0 auto
  width 300px