.link
  text-decoration none
  &_red
    color #CF4B5D !important


.widget-table
  width 100%

  .profile-image
    display inline-block
    border-radius 50px
    border 1px solid #b9b9b9
    overflow hidden
    height 42px
    width 42px
    vertical-align middle
    background-color #F9D21C
    a
    text-align center
    font-size x-large
    line-height 185%


  .profile-status
    width 4px
    height 4px

  &__row
    height 48px
    // &+&
    //   border-top 1px solid #eaeaea
    &:hover
      background-color #fafafa
      overflow hidden

  &__cell
    vertical-align middle

    &_first
      width 60px

      .briskhome-avatar
        margin 8px

    &_middle
      // padding 4px 0
      // width 50%

    &_last
      test-align right

    &-title
      // font-size 16px
      margin-bottom 4px

    &-subtitle
      font-size 14px
      color gray

    &-action
      border solid #b9b9b9
      border-width 0 2px 2px 0
      display inline-block
      padding 3px
      transform rotate(45deg)
      margin-right 4px
      margin-left 8px
      margin-bottom 2px
      cursor pointer
