.briskhome-title
  &_large
    margin-top 36px
    margin-bottom 24px
    font-weight 500
    font-size 36px

  &_medium
    margin-bottom 16px
    font-size 26px

  &_small
    font-size 18px

  &_thin
    font-weight 100

  &_gray
    color #86939E