.briskhome-title
  &_large
    font-size 48px
    // font-weight 800

  &_medium
    font-size 26px
    font-weight 800
    margin-bottom 16px

  &_small
    font-size 18px
    
  &_thin
    font-weight 100
    
  &_gray
    color #86939E