.briskhome-button > div
	/* Form */
	display: inline-block;
	height: 36px;
	background-color: rgba(9,9,9,0);
	/* Typography */
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #43474D;
	line-height: 36px;
	text-align: center;
	letter-spacing: 0.04px;
	/* Internal padding */
	padding-top: 0;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 0;
	/* External padding – Touch target size */
	margin-top: 6px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 6px;

	border-radius 2px
	transition background-color 0.15s ease-in 0s
	text-transform uppercase

	&:hover
		background-color rgba(0,0,0,0.1);
	&:active
		background-color rgba(0,0,0,0.15);
