.briskhome-help
  color #BDBDBD
  font-family Roboto
  text-decoration none
  background-color #efefef
  border-radius 50%
  height 24px
  // left 92%
  line-height 1.65
  position: absolute
  text-align center
  vertical-align center
  width 24px
  transition-timing-function: ease-in;
  transition: 0.25s;

  &:hover
    color #43474D
