.briskhome-button_primary
  background #F9D21C
  border 0
  border-radius 4px
  box-shadow 0 4px 0 0 #E5BD06
  color white
  font-family Roboto
  font-size 16px
  height 42px
  margin-top 25px
  outline 0
  text-align center
  width 200px

  &:active
    box-shadow 0 4px 0 0 #F9D21C, inset 0 4px 0 0 white
