
.briskhome-label
  &_small
    font-size 12px

  &_gray
    color #b9b9b9

  &_red
    color #cf4b5d

.briskhome-dropdown
  box-sizing border-box
  margin-bottom 16px
  text-align center

.briskhome-dropdown-root
  position relative
  text-align left

  &.is-open
    &> .briskhome-dropdown-control
      border-color #b9b9b9
      border-bottom-right-radius 0
      border-bottom-left-radius 0

.briskhome-dropdown-control
  position relative
  overflow hidden
  box-sizing border-box
  width 100%
  height 40px
  padding calc(((40px - 16px) / 2)) 52px 0 20px
  outline none
  border 1px solid #eaeaea
  border-radius 8px
  background-color white
  color #333
  font-weight 200
  cursor default
  transition all 200ms ease

  &:hover
    border-color #b9b9b9

.briskhome-dropdown-control:hover
  // box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);

.briskhome-dropdown-arrow
  position absolute
  top 14px
  right 10px
  display block
  width 0
  height 0
  margin-top 4px
  border-width 5px 5px 0
  border-style solid
  border-color #b9b9b9 transparent transparent
  content ' '

.is-open .briskhome-dropdown-arrow
  border-width 0 5px 5px
  border-color transparent transparent #b9b9b9

.briskhome-dropdown-menu
  position absolute
  top 100%
  z-index 1000
  overflow-y auto
  -webkit-overflow-scrolling touch
  box-sizing border-box
  max-height 200px
  width 100%
  margin-top -1px
  border 1px solid #b9b9b9
  border-radius 0 0 8px 8px
  background-color white
  box-shadow 0 1px 0 rgba(0, 0, 0, 0.06)

.briskhome-dropdown-menu .briskhome-dropdown-group > .briskhome-dropdown-title
  padding 8px 10px
  color rgba(51, 51, 51, 1)
  text-transform capitalize
  font-weight bold

.briskhome-dropdown-option
  display block
  box-sizing border-box
  padding 12px 20px
  color rgba(51, 51, 51, 0.8)
  font-weight 200
  cursor pointer

  &+&
    border-top 1px solid #eaeaea

.briskhome-dropdown-option:last-child
  border-bottom-right-radius 2px
  border-bottom-left-radius 2px

.briskhome-dropdown-option:hover
  background-color #fafafa
  color #333

.briskhome-dropdown-option.is-selected
  background-color #eaeaea
  color #333

.briskhome-dropdown-noresults
  display block
  box-sizing border-box
  padding 8px 10px
  color #ccc
  cursor default

.briskhome-dropdown-disabled
  border-color #eaeaea
  background-color #efefef
  color #b9b9b9
  cursor not-allowed

  &:hover
    border-color #eaeaea

  .briskhome-dropdown-arrow
    border-color #b9b9b9 transparent transparent