.link
  text-decoration none

  &_red
    color #CF4B5D !important

.widget-table
  width 100%

  .profile-image
    display inline-block
    overflow hidden
    width 42px
    height 42px
    border 1px solid #b9b9b9
    border-radius 50px
    background-color #F9D21C
    vertical-align middle
    a
    text-align center
    font-size x-large
    line-height 185%

  .profile-status
    width 4px
    height 4px

  &__row
    height 48px

    // &+&
    // border-top 1px solid #eaeaea
    &:hover
      overflow hidden
      background-color #fafafa

  &__cell
    vertical-align middle

    &_first
      width 60px

      .briskhome-avatar
        margin 8px

    &_middle
      // padding 4px 0
      // width 50%

    &_last
      test-align right

    &-title
      // font-size 16px
      margin-bottom 4px

    &-subtitle
      color gray
      font-size 14px

    &-action
      display inline-block
      margin-right 4px
      margin-bottom 2px
      margin-left 8px
      padding 3px
      border solid #b9b9b9
      border-width 0 2px 2px 0
      cursor pointer
      transform rotate(45deg)
