.briskhome-login
  position fixed
  width 360px
  height 240px
  z-index 2
  margin-top 100px
  left calc(50% - 200px)
  background-color #fff
  padding 20px
  border 1px solid #efefef
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.05)
  border-radius 4px
  text-align center

  &__image
    margin 14px 0 28px
    height 32px

  &__button
    &_submit
      margin 10px 0

    &_restore
      font-size 14px !important
      font-weight 300 !important
      color #999999 !important
      margin-left 20px !important
      padding 12px 0 !important