.briskhome-login
  position fixed
  left calc(50% - 200px)
  z-index 2
  width 360px
  height 240px
  margin-top 100px
  padding 20px
  border 1px solid #efefef
  border-radius 4px
  background-color #fff
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.05)
  text-align center

  &__image
    height 32px
    margin 14px 0 28px

  &__button
    &_submit
      margin 10px 0

    &_restore
      margin-left 20px !important
      padding 12px 0 !important
      color #999999 !important
      font-weight 300 !important
      font-size 14px !important