.briskhome-label
  position relative
  display block
  margin-bottom 16px
  text-align left
  font-size 14px
  transition border-color 0.25s ease

  &_invalid
    &:before
      position absolute
      top 15px
      right 10px
      border 4px solid #CF4B5D
      content ''
      transition border-color 0.25s ease

    &:hover:before
      border-color #b9b9b9

  &__caption
    margin 8px 20px 12px

  &__text
    margin-bottom 4px

.briskhome-input
  display block
  box-sizing border-box
  width 100%
  height 36px
  padding 0 16px
  border 1px solid #eee
  border-radius 4px
  color #333
  font-weight 200
  font-size 14px
  transition border-color 0.25s ease

  &::-webkit-input-placeholder
    color #ccc

  &:disabled,
  &_disabled
    background #efefef

  &:active,
  &:focus,
  &:hover
    border-color #b9b9b9

  &:focus
    outline none

  &_invalid
    border 1px solid #CF4B5D

.anim
  &_show_block
    animation-name show-block
    animation-duration 0.25s

@keyframes show-block
  from
    opacity 0
    transform rotateX(-60deg) translateY(-10px)

  to
    opacity 1
    transform rotateX(0) translateY(0)
    animation-fill-mode none