.briskhome-spinner
  &__content
    padding 16px
    text-align center

    & > div
      display inline-block
      width 8px
      height 8px
      margin 2px
      border-radius 1px
      background-color #f9d21c
      animation-fill-mode both

      &:nth-child(1)
        animation scale 1s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08)

      &:nth-child(2)
        animation scale 1s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08)

      &:nth-child(3)
        animation scale 1s 0 infinite cubic-bezier(0.2, 0.68, 0.18, 1.08)

    &_white > div
      background-color white

    &_inline
      padding 0

@keyframes scale
  0%
    opacity 1
    transform scale(1)

  45%
    opacity 0.7
    transform scale(0)

  80%
    opacity 1
    transform scale(1)