.briskhome-icon
  display inline-block
  vertical-align top

  &__head
    width 128px
    height 128px
    background-image url('/static/assets/img/bigbb88da469b41afa5036865534fea3092.png')
    background-size contain
    background-repeat no-repeat

  &__lock
    width 128px
    height 128px
    background-image url('/static/assets/img/big20966ec0e24cb78e570e23ddb03c3930.png')
    background-size contain
    background-repeat no-repeat

  &__love
    width 128px
    height 128px
    background-image url('/static/assets/img/big68800c78aea65f7550d711fe6e872e4e.png')
    background-size contain
    background-repeat no-repeat

  &__party
    width 128px
    height 128px
    background-image url('/static/assets/img/big811d1362d9f760b53be5bd8c15926d7f.png')
    background-size contain
    background-repeat no-repeat
