.dummy {
  position fixed
  width 360px
  z-index 2
  margin-top 100px
  left calc(50% - 200px)
  background-color #fff
  padding 20px
  border 1px solid #efefef
  box-shadow 0 2px 5px 0 rgba(0,0,0,0.05)
  border-radius 4px
  text-align center
}

.briskhome-wizard {
  position relative

  &__footer {
    margin 20px -20px 0
    padding 20px 20px 20px
    width 100%
    
    &-controls {
      display flex
      margin-top 20px

      &_left {
        justify-content flex-start
      }

      &_justify {
        justify-content space-between
      }

      &_right {
        justify-content flex-end
      }
    }
  }

  &__button {
    &-prev {
      font-size 14px !important
      font-weight 300 !important
      color #999999 !important
      justify-self left
    }

    &_hidden {
      visibility hidden
    }
  }

  &__stepper {
    display flex
    justify-content space-between
    margin 0 -20px 20px
    padding 0 20px 20px

    ../__step {
      &:not(:last-of-type) {
        display flex
        position relative
        width 100%

        &:after {
          @media only screen and (min-width: 993px) {
            content ''
            position absolute
            display inline-block
            height 1px
            background-color #efefef
            right 0
            left 20px
            width calc(100% - 40px)
            top 50%
            margin-left 16px
          }
        }
      }

      &>&-circle {
        height 15px
        width 15px
        display inline-block
        font-weight 300
        border 1px solid #fafafa
        background-color #fafafa
        padding 8px
        border-radius 16px
        color #999
      }

      &_active {
        &>^[-1]-circle {
          border 1px solid #F9D21C
          color #F9D21C
        }
      }

      &_complete {
        &>^[-1]-circle {
          border 1px solid #F9D21C
          background-color #F9D21C
          color white
        }

        &:after {
          @media only screen and (min-width: 993px) {
            background-color #F9D21C !important
          }
        }
      }
    }
  }
}